body{
    background-color: #F3F3F3;
    font-size: 1rem;
}

.menu__icons{
    display: flex;
}

.table__row{
    font-weight: normal;
    text-decoration: none;
}

.table{
    border-style:hidden;
}

.table__rows{
    background-color: #F8F9FC;
    border-radius: 5px;

}
.table__detail{
    color:#3D8AFF
}
.card-body__header{
margin-bottom: 2%;
}

.card__company{
    border-radius: 10px; 
}
.card__button{
    background-color: #E0E3F5;
    color: #23ACDE;
    border-color: #23ACDE;
    width: 100%;
    height: 55px;
}

.card__button:hover{
    background-color: #23ACDE;
    color: white;
    height: 55px;
}

.card__details{
    border-radius: 10px;

}

a{
    text-decoration: none;
    color: #3D8AFF;
}

/* .navigation{
    display:flex;
  

} */
 
.navigation_item{
    flex: 1 1 auto;
    margin: 0 5px;
}

.corouselMenu{
display: flex;
justify-content: center;
margin: 1% 1%;
}

.navigationSlider{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.navigation{

    position: relative;
    display: content-box;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
} 
 .menuButtonL{
    position: absolute;
    left: -2rem;
}

.menuButtonR{
    position: absolute;
    right:  -2rem;
}
.h__accordion{
    font-size: 1.2rem;
}



.h2-header{
    display: inline-flex;
    padding: 5px;
}
.nav-right{
    border:2px solid #E9E9E9;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;

}
